:root {
    --background-color: #EDDFE0;
    --secondary-color: #F5F5F7;
    --box-color: #B7B7B7; 
    --text-color: #705C53
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color) ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

body {
    
    color: var(--text-color);
    text-shadow: 
                1px 1px 2px rgba(0, 0, 0, 0.3);
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.header_title {
    font-size: 50px;
    text-align: center;
    
}

.sub_title {
    font-size: 30px;
}

/* CSS */
.play_btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.5;
}
button {
    display: inline-block;
    justify-content: center;
    border: 3px solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border-color: gray;
    cursor: pointer;
    
}

button:hover {
    font-weight: 700;
    border-color: red;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.2s
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.5;
    
    padding: 10px;   
}
.btn-container button {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.box-container {
    justify-content: center;
    border-collapse: collapse;
    font-size: 2rem;
    font-weight: 600;
    max-width: 15em;
    max-height: 15em;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 1em;
}


table tr {
    font-size: 1.5rem;
    padding: 1.5em;
}

.box {
    border: 10px var(--box-color) solid;
    color: var(--text-color);
    width: 1.5em;
    height: 1.5em;
    font-size: 5rem;
    text-align: center;
    cursor: default;
  
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

#message_container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    z-index: 999;
    text-align: center;
}

.blur {
    filter: blur(5px);
}


#title_text {
    font-size: 2rem;
    background-color: transparent;
}

#playAgainButton {
    font-size: 1.0rem;
    background-color: transparent;
    color: white;
    margin: 15px auto;
}
.overlay {
    display: none; /* Initially hidden */
    position: fixed; /* Position it to cover the whole screen */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 998; /* Positioned below the winner message */
}
